In [ ]:
%pip install lxml
import os
import s3fs
import gzip
import xml.etree.ElementTree as ET
from lxml import etree
import pandas as pd

os.environ["AWS_ACCESS_KEY_ID"] = 'BDUCSQ8RE22Q2LMTUY75'
os.environ["AWS_SECRET_ACCESS_KEY"] = 'Y7jUkgRo+sBR2Ctfzr+djyg3a71kTOd0pSgynrYd'
os.environ["AWS_SESSION_TOKEN"] = 'eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3NLZXkiOiJCRFVDU1E4UkUyMlEyTE1UVVk3NSIsImFsbG93ZWQtb3JpZ2lucyI6WyIqIl0sImF1ZCI6WyJtaW5pby1kYXRhbm9kZSIsIm9ueXhpYSIsImFjY291bnQiXSwiYXV0aF90aW1lIjoxNzU5MDQ2Njc3LCJhenAiOiJvbnl4aWEiLCJlbWFpbCI6Imx1Y2FzLmN1bXVuZWxAZW5zYWUuZnIiLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwiZXhwIjoxNzYwNTI3MTYzLCJmYW1pbHlfbmFtZSI6IkN1bXVuZWwiLCJnaXZlbl9uYW1lIjoiTHVjYXMiLCJncm91cHMiOlsiVVNFUl9PTllYSUEiLCJzdGF0YXBwLXNlZ21lZGljIl0sImlhdCI6MTc1OTkyMjM2MywiaXNzIjoiaHR0cHM6Ly9hdXRoLmxhYi5zc3BjbG91ZC5mci9hdXRoL3JlYWxtcy9zc3BjbG91ZCIsImp0aSI6Im9ucnRydDpjODJkYzBkYS03MGM3LTI4ZGUtYjIzMS1jNWQ3MTdlNzRjMmEiLCJuYW1lIjoiTHVjYXMgQ3VtdW5lbCIsInBvbGljeSI6InN0c29ubHkiLCJwcmVmZXJyZWRfdXNlcm5hbWUiOiJsYWIiLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsib2ZmbGluZV9hY2Nlc3MiLCJ1bWFfYXV0aG9yaXphdGlvbiIsImRlZmF1bHQtcm9sZXMtc3NwY2xvdWQiXX0sInJlc291cmNlX2FjY2VzcyI6eyJhY2NvdW50Ijp7InJvbGVzIjpbIm1hbmFnZS1hY2NvdW50IiwibWFuYWdlLWFjY291bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJyb2xlcyI6WyJvZmZsaW5lX2FjY2VzcyIsInVtYV9hdXRob3JpemF0aW9uIiwiZGVmYXVsdC1yb2xlcy1zc3BjbG91ZCJdLCJzY29wZSI6Im9wZW5pZCBwcm9maWxlIGdyb3VwcyBlbWFpbCIsInNpZCI6ImFmY2VhMjNmLTM3MGUtNDhjNC1hNGQ5LWIzZDJjMDJkYmNkOCIsInN1YiI6ImUyZDc4NjRjLTcwMzItNDI0ZC04OTA2LWU0ZjhiNDFjYzAwMyIsInR5cCI6IkJlYXJlciJ9.hlce_P59hQ6ibPoCT7wojM-AnVPacHINBdQMTzpWMfcEVPN3MYd80TYaz7Z3gkTjxfKjhueg2WvYiC0-0JN1bQ'
os.environ["AWS_DEFAULT_REGION"] = 'us-east-1'
fs = s3fs.S3FileSystem(
    client_kwargs={'endpoint_url': 'https://'+'minio.lab.sspcloud.fr'},
    key = os.environ["AWS_ACCESS_KEY_ID"], 
    secret = os.environ["AWS_SECRET_ACCESS_KEY"], 
    token = os.environ["AWS_SESSION_TOKEN"])

with fs.open("s3://lab/name_gender_dataset.csv") as f:
    g1 = pd.read_csv(f)
with fs.open("s3://lab/wgnd_2_0_name-gender-langcode.csv") as f:
    wgnd = pd.read_csv(f)
with fs.open("s3://lab/finalClassifiedData_013119.csv") as f:
    g3 = pd.read_csv(f)
with fs.open("s3://lab/art_names.csv") as f:
    names = pd.read_csv(f)
g1=g1[["Name","Gender"]]
wgnd[["Name","Gender"]]=names[["name","gender"]]
wgnd=wgnd[["Name","Gender"]]
g3[["Name","Gender"]]=g3[["firstName","GenderString"]]
g3=g3[["Name","Gender"]]

Collecting lxml
  Downloading lxml-6.0.2-cp313-cp313-manylinux_2_26_x86_64.manylinux_2_28_x86_64.whl.metadata (3.6 kB)
Downloading lxml-6.0.2-cp313-cp313-manylinux_2_26_x86_64.manylinux_2_28_x86_64.whl (5.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.2/5.2 MB 12.8 MB/s  0:00:00m0:00:01
Installing collected packages: lxml
Successfully installed lxml-6.0.2
Note: you may need to restart the kernel to use updated packages.

/tmp/ipykernel_2985/3897474865.py:24: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  g3 = pd.read_csv(f)

In [ ]:
#%pip install unidecode
from unidecode import unidecode
import re


wgnd["Name"]=wgnd["Name"].str.replace("-", " ")
wgnd["Name"]=wgnd["Name"].fillna("").astype(str).apply(lambda x: unidecode(x))
wgnd["Name"]=wgnd["Name"].str.split(" ").str[0]
wgnd["Name"]=wgnd["Name"].str.lower().apply(lambda x: re.sub(r'[^a-z\s]', '', x) if isinstance(x, str) else x)

In [41]:
import math
import numpy as np
feur=names["Name"].drop_duplicates()
n = int(math.sqrt(len(feur)))
matrix = np.array(feur[:n*n]).reshape(n, n)
pd.DataFrame(matrix).to_csv("feur.csv",index=False)

In [40]:
names["Name"]=names["name"]
names=names.drop(columns=["name"])
names["Name"]=names["Name"].str.replace("-", " ")
names["Name"]=names["Name"].fillna("").astype(str).apply(lambda x: unidecode(x))
names["Name"]=names["Name"].str.split(" ").str[0]
names["Name"]=names["Name"].str.lower().apply(lambda x: re.sub(r'[^a-z\s]', '', x) if isinstance(x, str) else x)

In [48]:
match_df = names.drop_duplicates().merge(wgnd.drop_duplicates(), how="left", on="Name")
(match_df["Gender"].isna()).sum()/len(match_df)*100

np.float64(55.57817896626095)

In [2]:
import re

g2["Name"] = g2["Name"].str.replace(r'[^\w\s\u4E00-\u9FFF\u3400-\u4DBF\u3040-\u30FF\uAC00-\uD7AF]', '', regex=True)
kanji_pattern = re.compile(r'[\u4E00-\u9FFF\u3400-\u4DBF\u3040-\u30FF\uAC00-\uD7AF]')

mask = g2["Name"].notna() & g2["Name"].apply(lambda x: isinstance(x, str))
_kanji = g2.loc[mask, "Name"].apply(lambda x: bool(kanji_pattern.search(x)))

df_latin = g2.loc[_kanji.index[~_kanji]]

In [3]:
gdf=pd.concat([g1,df_latin,g3],axis=0,ignore_index=True)

In [4]:
gdf["Gender"] = (
    gdf["Gender"]
    .astype(str)         # convert to string
    .str.strip()         # remove spaces
    .str.lower()         # normalize case
    .map({'m': 0, 'f': 1, 'male': 0, 'female': 1})
)
gdf["Name"]=gdf["Name"].str.lower()
gdf=gdf[~gdf["Gender"].isna()]

In [6]:
import unicodedata
import re

def normalize_name(name):
    if not isinstance(name, str):
        return ""
    # Lowercase
    name = name.lower().strip()
    # Remove accents (é → e, ü → u)
    name = ''.join(
        c for c in unicodedata.normalize('NFKD', name)
        if not unicodedata.combining(c)
    )
    # Remove punctuation, numbers, multiple spaces
    name = re.sub(r'[^a-z\s]', '', name)
    name = re.sub(r"^(?:[a-z]\s+)+", "", name)  # start
    name = re.sub(r"(?:\s+[a-z])+$", "", name)  # end
    name = re.sub(r'\s+', ' ', name).strip()
    return name

names["name"] = names["name"].apply(normalize_name)
gdf["Name"] = gdf["Name"].apply(normalize_name)

In [7]:
names["Name"]=names["name"]
names=names.drop(columns=["name"])
#names=names.drop_duplicates(subset=["Name"])

In [8]:
gdf["Name"] = (
    gdf["Name"]
    .astype(str)         
    .str.strip()         
    .str.split().str[0]  
)
gdf=gdf.drop_duplicates(subset=["Name"])

In [9]:
gdf#[gdf["Gender"]=="jinxue"]

             Name  Gender
0           james     0.0
1            john     0.0
2          robert     0.0
3         michael     0.0
4         william     0.0
...           ...     ...
22140406     kaki     1.0
22147959  antonei     1.0
22177245   millet     1.0
22186057    hayou     1.0
22188929   akishi     1.0

[2739975 rows x 2 columns]

In [19]:
match_df = names.merge(gdf, how="left", on="Name")
match_df#[~match_df["Gender"].isna()]

                  Name         clean_x prefix_x  Gender     clean_y prefix_y
0                kodai           kodai       ko     0.0       kodai       ko
1            norimichi       norimichi       no     NaN         NaN      NaN
2                ameya           ameya       am     1.0       ameya       am
3               george          george       ge     0.0      george       ge
4                kenji           kenji       ke     0.0       kenji       ke
...                ...             ...      ...     ...         ...      ...
246958  teodoracoralia  teodoracoralia       te     NaN         NaN      NaN
246959         danjian         danjian       da     NaN         NaN      NaN
246960         mubaraq         mubaraq       mu     0.0     mubaraq       mu
246961         mehruba         mehruba       me     NaN         NaN      NaN
246962      giritharan      giritharan       gi     0.0  giritharan       gi

[246963 rows x 6 columns]

In [ ]:
%pip install rapidfuzz
from rapidfuzz import process, fuzz
# Get first 2 letters of all names
name_prefixes = names['Name'].str[:2].str.lower().unique()

# Filter gdf rows that match any of these prefixes
cand = gdf[gdf['Name'].str[:2].str.lower().isin(name_prefixes)]
print(cand)
matches = []
for n in match_df[match_df["Gender"].isna()]["Name"] :
    match, score, _ = process.extractOne(n, cand["Name"], scorer=fuzz.WRatio)
    matches.append({"name": n, "matched_name": match, "score": score})
matches_df = pd.DataFrame(matches)

             Name  Gender
0           james     0.0
1            john     0.0
2          robert     0.0
3         michael     0.0
4         william     0.0
...           ...     ...
22140406     kaki     1.0
22147959  antonei     1.0
22177245   millet     1.0
22186057    hayou     1.0
22188929   akishi     1.0

[2737230 rows x 2 columns]

KeyboardInterrupt:

In [ ]:
%pip install rapidfuzz
from rapidfuzz import process, fuzz


name_prefixes = names['Name'].str[:2].str.lower().unique()

# Filter gdf rows that match any of these prefixes
cand = gdf[gdf['Name'].str[:2].str.lower().isin(name_prefixes)]

matches = []

for name in match_df[match_df["Gender"].isna()]["Name"]:
    # extractOne stops at first match with high enough score
    res = process.extractOne(
        query=name,
        choices=cand["Name"].tolist(),
        scorer=fuzz.WRatio,
        score_cutoff=95  # stop if score >= 95
    )
    
    if res is None:
        matches.append({"name": name, "match": None, "score": None})
    else:
        match, score, _ = res
        matches.append({"name": name, "match": match, "score": score})

import pandas as pd
matches_df = pd.DataFrame(matches)
print(matches_df)

KeyboardInterrupt:

In [13]:
%pip install rapidfuzz
import pandas as pd
import numpy as np
from rapidfuzz import fuzz, process
import re, unicodedata

# ---------------------------
# 1. Pre-cleaning function
# ---------------------------
def clean_name(name):
    if not isinstance(name, str):
        return ""
    name = name.lower().strip()
    # Remove accents
    name = ''.join(c for c in unicodedata.normalize('NFKD', name) if not unicodedata.combining(c))
    # Keep only letters and spaces
    name = re.sub(r"[^a-z\s-]", "", name)
    # Normalize spaces
    name = re.sub(r"\s+", " ", name).strip()
    return name

# Example: your datasets
names['clean'] = names['Name'].apply(clean_name)
gdf['clean'] = gdf['Name'].apply(clean_name)

# ---------------------------
# 2. Blocking by first N letters
# ---------------------------
BLOCK_N = 2
names['prefix'] = names['clean'].str[:BLOCK_N]
gdf['prefix'] = gdf['clean'].str[:BLOCK_N]

# ---------------------------
# 3. Chunked vectorized matching
# ---------------------------
results = []

for prefix, name_group in names.groupby('prefix'):
    # Candidates with same prefix
    candidates = gdf[gdf['prefix'] == prefix]['clean'].tolist()
    if not candidates:
        continue
    
    # Chunk names if group is too large
    CHUNK_SIZE = 50000
    for i in range(0, len(name_group), CHUNK_SIZE):
        chunk = name_group.iloc[i:i+CHUNK_SIZE]
        queries = chunk['clean'].tolist()
        
        # Compute similarity matrix (vectorized)
        # Returns best match and score for each query
        scores = process.cdist(queries, candidates, scorer=fuzz.WRatio, score_cutoff=92, processor=None, workers=-1)
        
        for q_idx, row in enumerate(scores):
            if np.all(np.isnan(row)):  # no match above cutoff
                results.append({"name": queries[q_idx], "match": None, "score": None})
            else:
                # index of best match
                best_idx = np.nanargmax(row)
                results.append({
                        "name": queries[q_idx],
                        "match": candidates[best_idx],
                        "score": row[best_idx]
                })

# ---------------------------
# 4. Create DataFrame of results
# ---------------------------
matches_df = pd.DataFrame(results)

Collecting rapidfuzz
  Downloading rapidfuzz-3.14.1-cp313-cp313-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (12 kB)
Downloading rapidfuzz-3.14.1-cp313-cp313-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (3.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 13.0 MB/s  0:00:00m0:00:01
Installing collected packages: rapidfuzz
Successfully installed rapidfuzz-3.14.1
Note: you may need to restart the kernel to use updated packages.

In [21]:
feur=matches_df[matches_df["score"]!=0]#[~matches_df["score"].isin([0, 100])]
matches_df#.drop_duplicates()

           name    match  score
0                           0.0
1                           0.0
2                           0.0
3             a        a  100.0
4             a        a  100.0
...         ...      ...    ...
246948  zygfryd  zygfryd  100.0
246949  zydrune   zyaire    0.0
246950       zz    zzyzx    0.0
246951   zzilia    zzyzx    0.0
246952     zzyv    zzyzx    0.0

[246953 rows x 3 columns]

In [126]:
name_map = dict(zip(feur["name"], feur["match"]))

# Replace in gdf
gdf["clean"] = gdf["clean"].map(name_map)#.fillna(gdf["clean"])
"""
match_df = names[["clean"]].merge(gdf[["clean","Gender"]], how="left", on="clean")
match_df[~match_df["Gender"].isna()]"""
gdf

/tmp/ipykernel_6688/200273274.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gdf["clean"] = gdf["clean"].map(name_map)#.fillna(gdf["clean"])

             Name  Gender    clean prefix
0           james     0.0    james     ja
1            john     0.0     john     jo
2          robert     0.0   robert     ro
3         michael     0.0  michael     mi
4         william     0.0  william     wi
...           ...     ...      ...    ...
22140406     kaki     1.0     kaki     ka
22147959      NaN     1.0      NaN     an
22177245      NaN     1.0      NaN     mi
22186057      NaN     1.0      NaN     ha
22188929   akishi     1.0   akishi     ak

[2739971 rows x 4 columns]

In [27]:
df_latin.drop_duplicates()

                  Name Gender
0                 baby      F
1               aisyah      F
2                anela      F
4          fiyinfoluwa      F
6               olioni      M
...                ...    ...
21173410         ṯanāʾ      F
21173414       ṯurayyā      F
21173418         ẓabya      F
21173422  ẓahīr addīni      M
21173426         ẓāfir      M

[2855104 rows x 2 columns]

In [79]:
#%pip install unidecode
from unidecode import unidecode
g2["Name"]=g2["Name"].fillna("").astype(str).apply(lambda x: unidecode(x))#.drop_duplicates()

In [80]:
match_df = names.merge(g2, how="left", on="Name")
match_df[match_df["Gender"].isna()]

KeyError: 'Name'

In [63]:
g2.drop_duplicates()

                 Name Gender
0                baby      F
1              aisyah      F
2               anela      F
3                 NaN      F
4         fiyinfoluwa      F
...               ...    ...
21831032       hyihwa      F
21831033      hyihwan      M
21831034       hyihun      M
21831037       hiyori      F
21831040       himcan      M

[2922969 rows x 2 columns]

In [64]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline

In [81]:
g2['Name'] = g2['Name'].str.lower()
g2['Gender'] = g2['Gender'].map({'M': 0, 'F': 1})
#g2 = g2.drop_duplicates()

In [82]:
g2

                  Name  Gender
0               "baby"       1
1              'aisyah       1
2               'anela       1
3               'anela       1
4         'fiyinfoluwa       1
...                ...     ...
21831038        hikari       1
21831039        hitomi       1
21831040        himcan       0
21831041    yang feng        0
21831042      yang yi        0

[21831043 rows x 2 columns]

In [83]:
X = g2['Name']
y = g2['Gender']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train = X_train.fillna("")
X_test = X_test.fillna("")

In [84]:
pipeline = Pipeline([
    ('vectorizer', TfidfVectorizer(analyzer='char', ngram_range=(2, 3))),
    ('classifier', MultinomialNB())
])
pipeline.fit(X_train, y_train)

Pipeline(steps=[('vectorizer',
                 TfidfVectorizer(analyzer='char', ngram_range=(2, 3))),
                ('classifier', MultinomialNB())])

In [94]:
#print(pipeline.score(X_test,y_test))
name = ["danjian"]
pipeline.predict(name)

array([0])

In [76]:
from sklearn.metrics import accuracy_score

y_pred = pipeline.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.6894255984098284

In [ ]:
import joblib
joblib.dump(pipeline, "gender_predictor_pipeline.pkl")

In [55]:
import re
d=g2.copy()
d["Name"] = d["Name"].str.replace(r'[^\w\s\u4E00-\u9FFF\u3400-\u4DBF\u3040-\u30FF\uAC00-\uD7AF]', '', regex=True)
kanji_pattern = re.compile(r'[\u4E00-\u9FFF\u3400-\u4DBF\u3040-\u30FF\uAC00-\uD7AF]')

mask = d["Name"].notna() & d["Name"].apply(lambda x: isinstance(x, str))
_kanji = d.loc[mask, "Name"].apply(lambda x: bool(kanji_pattern.search(x)))

df_latin = d.loc[_kanji.index[~_kanji]]

In [56]:
df_latin

                 Name Gender
0                baby      F
1              aisyah      F
2               anela      F
3               anela      F
4         fiyinfoluwa      F
...               ...    ...
21173433  abd alhamid      M
21173434     abdullah      M
21173435     abdullah      M
21173436     abdullah      M
21173437     abdullah      M

[21173410 rows x 2 columns]