In [4]:
%pip install lxml
import os
import s3fs
import gzip
import xml.etree.ElementTree as ET
from lxml import etree
import pandas as pd

os.environ["AWS_ACCESS_KEY_ID"] = 'BDUCSQ8RE22Q2LMTUY75'
os.environ["AWS_SECRET_ACCESS_KEY"] = 'Y7jUkgRo+sBR2Ctfzr+djyg3a71kTOd0pSgynrYd'
os.environ["AWS_SESSION_TOKEN"] = 'eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3NLZXkiOiJCRFVDU1E4UkUyMlEyTE1UVVk3NSIsImFsbG93ZWQtb3JpZ2lucyI6WyIqIl0sImF1ZCI6WyJtaW5pby1kYXRhbm9kZSIsIm9ueXhpYSIsImFjY291bnQiXSwiYXV0aF90aW1lIjoxNzU5MDQ2Njc3LCJhenAiOiJvbnl4aWEiLCJlbWFpbCI6Imx1Y2FzLmN1bXVuZWxAZW5zYWUuZnIiLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwiZXhwIjoxNzYwNTI3MTYzLCJmYW1pbHlfbmFtZSI6IkN1bXVuZWwiLCJnaXZlbl9uYW1lIjoiTHVjYXMiLCJncm91cHMiOlsiVVNFUl9PTllYSUEiLCJzdGF0YXBwLXNlZ21lZGljIl0sImlhdCI6MTc1OTkyMjM2MywiaXNzIjoiaHR0cHM6Ly9hdXRoLmxhYi5zc3BjbG91ZC5mci9hdXRoL3JlYWxtcy9zc3BjbG91ZCIsImp0aSI6Im9ucnRydDpjODJkYzBkYS03MGM3LTI4ZGUtYjIzMS1jNWQ3MTdlNzRjMmEiLCJuYW1lIjoiTHVjYXMgQ3VtdW5lbCIsInBvbGljeSI6InN0c29ubHkiLCJwcmVmZXJyZWRfdXNlcm5hbWUiOiJsYWIiLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsib2ZmbGluZV9hY2Nlc3MiLCJ1bWFfYXV0aG9yaXphdGlvbiIsImRlZmF1bHQtcm9sZXMtc3NwY2xvdWQiXX0sInJlc291cmNlX2FjY2VzcyI6eyJhY2NvdW50Ijp7InJvbGVzIjpbIm1hbmFnZS1hY2NvdW50IiwibWFuYWdlLWFjY291bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJyb2xlcyI6WyJvZmZsaW5lX2FjY2VzcyIsInVtYV9hdXRob3JpemF0aW9uIiwiZGVmYXVsdC1yb2xlcy1zc3BjbG91ZCJdLCJzY29wZSI6Im9wZW5pZCBwcm9maWxlIGdyb3VwcyBlbWFpbCIsInNpZCI6ImFmY2VhMjNmLTM3MGUtNDhjNC1hNGQ5LWIzZDJjMDJkYmNkOCIsInN1YiI6ImUyZDc4NjRjLTcwMzItNDI0ZC04OTA2LWU0ZjhiNDFjYzAwMyIsInR5cCI6IkJlYXJlciJ9.hlce_P59hQ6ibPoCT7wojM-AnVPacHINBdQMTzpWMfcEVPN3MYd80TYaz7Z3gkTjxfKjhueg2WvYiC0-0JN1bQ'
os.environ["AWS_DEFAULT_REGION"] = 'us-east-1'
fs = s3fs.S3FileSystem(
    client_kwargs={'endpoint_url': 'https://'+'minio.lab.sspcloud.fr'},
    key = os.environ["AWS_ACCESS_KEY_ID"], 
    secret = os.environ["AWS_SECRET_ACCESS_KEY"], 
    token = os.environ["AWS_SESSION_TOKEN"])

path = "lab/dblp (1).xml.gz"

Requirement already satisfied: lxml in /opt/python/lib/python3.13/site-packages (6.0.2)
Note: you may need to restart the kernel to use updated packages.

In [5]:
articles = []

with fs.open(path, 'rb') as f:
    with gzip.GzipFile(fileobj=f) as gz:
        #parser = etree.XMLParser(recover=True, resolve_entities=True)
        context = etree.iterparse(gz, events=("end",), tag="article", recover=True)
        
        for event, elem in context:
            title = elem.findtext("title")
            journal = elem.findtext("journal")
            pub_date = elem.findtext("year")

            authors = [a.text for a in elem.findall(".//author")]
            authors_str = "; ".join([a for a in authors if a])

            articles.append({
                "title": title,
                "journal": journal,
                "year": pub_date,
                "authors": authors_str
            })

            elem.clear()

df = pd.DataFrame(articles)

In [4]:
inpro = []

with fs.open(path, 'rb') as f:
    with gzip.GzipFile(fileobj=f) as gz:
        #parser = etree.XMLParser(recover=True, resolve_entities=True)
        context = etree.iterparse(gz, events=("end",), tag="inproceedings", recover=True)
        
        for event, elem in context:
            title = elem.findtext("title")
            conf = elem.findtext("booktitle")
            pub_date = elem.findtext("year")

            authors = [a.text for a in elem.findall(".//author")]
            authors_str = "; ".join([a for a in authors if a])

            inpro.append({
                "title": title,
                "conf": conf,
                "year": pub_date,
                "authors": authors_str
            })

            elem.clear()

df = pd.DataFrame(inpro)

In [8]:
df

,title,conf,year,authors
0,The Future of Classic Data Administration: Obj...,SWEE,1998,Arnon Rosenthal
1,Some Patterns of Convincing Software Engineeri...,Denert Award,2020,Lutz Prechelt
2,Static Worst-Case Analyses and Their Validatio...,Denert Award,2020,Peter Wgemann
3,Crossing Disciplinary Borders to Improve Requi...,Denert Award,2020,Anne Hess
4,What You See Is What You Get: Practical Effect...,Denert Award,2020,Jonathan Immanuel Brachthuser
...,...,...,...,...
3749511,"Toward a Modern Geography of Minds, Machines, ...",PT-AI,2011,Selmer Bringsjord; Naveen Sundar Govindarajulu
3749512,Emotional Control-Conditio Sine Qua Non for Ad...,PT-AI,2011,Claudius Gros
3749513,Becoming Digital: Reconciling Theories of Digi...,PT-AI,2011,Harry Halpin
3749514,Generative Artificial Intelligence.,PT-AI,2011,Tijn van der Zant; Matthijs Kouw; Lambert Scho...
3749515,Seven Steps to Rendezvous with the Casual User.,IFIP Working Conference Data Base Management,1974,E. F. Codd

In [2]:
from lxml import etree
import gzip

direct_set = set()

with fs.open(path, "rb") as f:
    with gzip.GzipFile(fileobj=f) as gz:
        context = etree.iterparse(gz, events=("end",), tag="inproceedings", recover=True)
        for event, elem in context:
            # collect child tags
            for child in elem:
                if child.tag is not None:
                    direct_set.add(child.tag)

            # clear memory: remove element and its previous siblings
            elem.clear()
            while elem.getprevious() is not None:
                del elem.getparent()[0]

print(sorted(direct_set))

['author', 'booktitle', 'cdrom', 'cite', 'crossref', 'editor', 'ee', 'month', 'note', 'number', 'pages', 'publnr', 'stream', 'title', 'url', 'volume', 'year']

In [7]:
chunks = []
n_chunks = 50
chunk_size = len(df) // n_chunks

for i in range(n_chunks):
    start = i * chunk_size
    end = (i + 1) * chunk_size if i < n_chunks - 1 else len(df)  # last chunk includes remainder
    
    chunk = df.iloc[start:end].copy()
    
    # Split authors column into multiple columns
    #authors_df = chunk['authors'].str.split(';', expand=True)
    #authors_df.columns = [f'author{i+1}' for i in range(authors_df.shape[1])]
    
    # Combine with original chunk
    #chunk = pd.concat([chunk.drop(columns=['authors']), authors_df], axis=1)
    
    chunk.to_parquet(f"art/articles_chunk_{i}.parquet", index=False)

In [13]:

import pandas as pd
from collections import defaultdict
import glob

ego_data = defaultdict(lambda: {"publications": []}) #set permet de créer des clefs si absentes et de les actualiser si présentes (en définissant la classe des clefs)

chunk_files = glob.glob("t/articles_chunk_*.parquet")

for file in chunk_files:
    df_chunk = pd.read_parquet(file)
    """
    for _, row in df_chunk.iterrows():
        authors = row['authors'].split(';')
        for ego in authors:
            coauthors = set(authors) - {ego}
            #ego_data[ego]["coauthors"].update(coauthors)
            
            ego_data[ego]["covariates"].update({
                "coauthors" : list(coauthors),
                "journal": row.get("journal"),
                "year": row.get("year"),
                "title" : row.get("title")
            })
    """
    for _, row in df_chunk.iterrows():
        authors = row['authors'].split(';')
        for ego in authors:
            coauthors = set(authors) - {ego}
            
            ego_data[ego]["publications"].append({
                "coauthors": list(coauthors),
                "journal": row.get("journal"),
                "year": row.get("year"),
                "title": row.get("title")
            })

In [15]:
"""ego_df = pd.DataFrame([
    {'ego': ego, **data["publications"]} #récup paries ego - alter et trie dans l'ordre alphabétique
    for ego, data in ego_data.items()
])"""
rows = []
for ego, data in ego_data.items():
    for pub in data["publications"]:
        rows.append({
            "ego": ego,
            "coauthors": ",".join(sorted(pub["coauthors"])),
            "journal": pub.get("journal"),
            "year": pub.get("year"),
            "title": pub.get("title")
        })

ego_df = pd.DataFrame(rows)

In [24]:
ego_df

,ego,coauthors,journal,year,title
0,Baogang Xu,Haihui Zhang,Discret. Appl. Math.,2007,Every toroidal graph without adjacent triangle...
1,Baogang Xu,Lusheng Wang 0001,Discret. Appl. Math.,2005,Decomposing toroidal graphs into circuits and ...
2,Baogang Xu,Xingxing Yu,Graphs Comb.,2012,Maximum Directed Cuts in Graphs with Degree Co...
3,Baogang Xu,Xingxing Yu,Comb. Probab. Comput.,2011,Better Bounds for
4,Baogang Xu,,Discret. Math. Algorithms Appl.,2009,A Note on 3-colorable Plane Graphs without 5- ...
...,...,...,...,...,...
13845993,John Bracken,"Arundhuti Ganguly, Bruce Lewis Daniel, Daniel...",Proc. IEEE,2008,"Design, Performance, and Applications of a Hyb..."
13845994,Zhifei Wen,"Arundhuti Ganguly, Bruce Lewis Daniel, Daniel...",Proc. IEEE,2008,"Design, Performance, and Applications of a Hyb..."
13845995,Huanzhou Yu,"Arundhuti Ganguly, Bruce Lewis Daniel, Daniel...",Proc. IEEE,2008,"Design, Performance, and Applications of a Hyb..."
13845996,Viola Rieke,"Arundhuti Ganguly, Bruce Lewis Daniel, Daniel...",Proc. IEEE,2008,"Design, Performance, and Applications of a Hyb..."
13845997,Joan K. Frisoli,"Arundhuti Ganguly, Bruce Lewis Daniel, Daniel...",Proc. IEEE,2008,"Design, Performance, and Applications of a Hyb..."

In [ ]:
ego_df.to_parquet("ego_coauthors.parquet", index=False)
s3_path = "s3://lab/ego_coauthors.parquet"  # bucket + key

# Save directly to MinIO
ego_df.to_parquet(s3_path, engine="pyarrow", index=False, filesystem=fs)

In [8]:
ego_df.to_parquet("ego_df.parquet",index=False)

In [19]:
with fs.open("s3://lab/name_gender_dataset.csv") as f:
    g1 = pd.read_csv(f)
with fs.open("s3://lab/wgnd_2_0_name-gender-langcode.csv") as f:
    g2 = pd.read_csv(f)

g1=g1[["Name","Gender"]]
g2[["Name","Gender"]]=g2[["name","gender"]]
g2=g2[["Name","Gender"]]

In [20]:
g2[100:150]

            Name Gender
100      a laura      F
101      a lelia      F
102      a lelia      F
103      a lerah      F
104      a lerah      F
105  a lex ander      M
106  a lex ander      M
107        a lie      M
108       a lisa      F
109       a lisa      F
110       a liza      F
111       a liza      F
112       a lmos      M
113       a luan      M
114       a mang      F
115         a me      F
116        a men      M
117        a mer      M
118        a mer      M
119      a merie      F
120      a merie      F
121        a mou      M
122        a nai      F
123     a nak la      M
124     a nak la      M
125        a nao      F
126       a neng      M
127      a nette      F
128      a niang      F
129      a niyah      F
130      a niyah      F
131         a nv      F
132         a ou      M
133        a pan      F
134        a pao      M
135         a pi      M
136         a pu      F
137        a qie      M
138      a qiong      F
139        a que      M
140        a ran      M
141       a rang      M
142        a rao      F
143         a re      F
144         a ri      M
145        a rin      F
146        a rin      F
147        a ron      M
148        a ron      M
149        a s m      M

In [22]:
pd.concat([g1,g2],axis=0,ignore_index=True)

             Name Gender
0           James      M
1            John      M
2          Robert      M
3         Michael      M
4         William      M
...           ...    ...
21978307      히카리      F
21978308      히토미      F
21978309       힘찬      M
21978310       凉峰      M
21978311       凉翼      M

[21978312 rows x 2 columns]